; this configure file contains setting relating to GUI.

; Global Font
Global_Font     "PT Mono"

; ; Sizes and Positions
; Size of GL Widget
GL_Widget_Min_Width  1000
GL_Widget_Min_Height 1000
GL_Widget_Max_Width  1000
GL_Widget_Max_Height 1000

; Position of initial window position(left top)
Set_Geometry_X       200
Set_Geometry_Y       100