; this configure file contains setting for the rendering scene.

; initial background color
Background_Color_r  0
Background_Color_g  32
Background_Color_b  64

; material test
ambient_r     64
ambient_g     64
ambient_b     126
diffuse_r     196
diffuse_g     256
diffuse_b     196
specular_r    256
specular_g    196
specular_b    196
shininess     30.0